.currency-coverter {
  text-transform: capitalize;
  text-align: center;
  color: blue;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.usd {
  margin: 0 5px;
}
.naira {
  margin: 0 5px;
}

.check {
  background-color: cadetblue;
  margin: 0 5px;
}
