 /* h1 {
  text-align: center;
  /* background-color: blue; */
  /* padding: 2px; */
  /* border: 1px solid black; */
}

/* h2 {
  text-align: center;
  padding: 2px;
  /* border: 1px solid lightskyblue; */
} 

/* h3 {
  text-align: center;
  padding: 2px;
  /* border: 1px lightslategray; */
} 

/* .nav-bar {
  display: flex;
  margin: 2px 0;
} */

/* .nav-bar button {
  background-color: aquamarine;
  margin: 5px;
  padding: 2px 5px;
} */

/* footer {
  text-align: center;
} */ 
